{% extends 'base.html' %}
{% load static %}

{% block content %}

<h1>Post</h1>
<ul class="posts_list_view">
{% for post in object_list %}
	<li class="post_individual-look">
		<a href="{% url 'article-detail' post.pk %}">{{ post.title }}</a> - {{ post.author.first_name }} {{ post.author.last_name }} - {{ post.author.email }}
		
	<small>
		{% if user.is_authenticated %}
	 		<a href="{% url 'update_post' post.pk %}">(Edit)</a>
	 		<a href="{% url 'delete_post' post.pk %}">(Delete)</a>
	 	{% endif %}
	</small><br/>
	{{ post.body |slice:":200"|safe }}
	</li>
{% endfor %}
</ul>
{% endblock %}